<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.hello.mapper.PersonMapper">

    <!-- 查询Person by id -->
    <select id="findPerson" parameterType="int" resultType="Person">
        SELECT * FROM person WHERE id = #{id}
    </select>
    <insert id="savePerson" parameterType="Person" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO person (pname,age,email,telephone,address)
        VALUES (#{pname},#{age},#{email},#{telephone},#{address})
    </insert>
</mapper>